@model Falcon_Bug_Tracker.ViewModel.ProjectDetailsVM

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Project Details</h4>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="page-title-box">
                        <h4 class="page-title">Project Details</h4>
                    </div>
                    <dl class="class=" row mb-0"">
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ProjectName)
                        </dt>

                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ProjectName)
                        </dd>
                        <hr />
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ProjectDescription)
                        </dt>

                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ProjectDescription)
                        </dd>
                        <hr />
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.ProjectManager)
                        </dt>

                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.ProjectManager)
                        </dd>
                        <hr />
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Created)
                        </dt>

                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Created)
                        </dd>
                        <hr />
                        <dt class="col-sm-3">
                            @Html.DisplayNameFor(model => model.Updated)
                        </dt>

                        <dd class="col-sm-9">
                            @Html.DisplayFor(model => model.Updated)
                        </dd>
                        <hr />
                    </dl>
                </div>
                <p class="p-3">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }, new { @class = "btn btn-primary m-1" })
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light m-1" })
                </p>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="page-title-box">
                        <h4 class="page-title">Assigned Users</h4>
                    </div>
                    <table id="basic-datatable" class="table dt-responsive">
                        <thead>
                            <tr>
                                <th class="all">Name</th>
                                <th class="all">Role</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var user in Model.Users)
                            {
                                <tr>
                                    <td>@user.FullName</td>
                                    <td>@user.RoleName</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @Html.ActionLink("Assign Users", "ManageProjectAssignments", null, new { @class = "btn btn-primary m-1" })

                </div>
            </div>
        </div>
    </div>
