@model Falcon_Bug_Tracker.ViewModel.ProjectDashboardVM

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Projects</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card widget-inline">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-sm-6 col-xl-3">
                            <div class="card shadow-none m-0">
                                <div class="card-body text-center">
                                    <i class="dripicons-briefcase text-muted" style="font-size: 24px;"></i>
                                    <h3><span>@Model.NumberOfProjects</span></h3>
                                    <p class="text-muted font-15 mb-0">Total Projects</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <div class="card shadow-none m-0 border-left">
                                <div class="card-body text-center">
                                    <i class="dripicons-checklist text-muted" style="font-size: 24px;"></i>
                                    <h3><span>@Model.NumberOfTickets</span></h3>
                                    <p class="text-muted font-15 mb-0">Total Tickets</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <div class="card shadow-none m-0 border-left">
                                <div class="card-body text-center">
                                    <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                    <h3><span>@Model.NumberOfProjectManagers</span></h3>
                                    <p class="text-muted font-15 mb-0">Project Managers</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xl-3">
                            <div class="card shadow-none m-0 border-left">
                                <div class="card-body text-center">
                                    <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                                    <h3><span>@Model.NumberOfDevelopers</span></h3>
                                    <p class="text-muted font-15 mb-0">Developers</p>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end row -->
                </div>
            </div> <!-- end card-box-->
        </div> <!-- end col-->
    </div>
    <!-- end row-->


    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Ticket Statuses</h4>
                    
                        <div class="my-4 chartjs-chart">
                            <canvas id="ticket-status-chart"></canvas>
                        </div>
                    
                        <div class="row text-center mt-2 pt-3 py-2">
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketsOpen</span>
                            </h3>
                            <p class="text-muted mb-0">Open</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketsAssigned</span>
                            </h3>
                            <p class="text-muted mb-0"> Assigned</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketsResolved</span>
                            </h3>
                            <p class="text-muted mb-0"> Resolved</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketsReopened</span>
                            </h3>
                            <p class="text-muted mb-0"> Re-Opened</p>
                        </div>
                        
                    </div>
                    <!-- end row-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Ticket Types</h4>
                    <div class="chart-container">
                        <canvas id="ticket-types-chart" style="height:35%; width:35%;"></canvas>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->


    


    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title pb-1">Recently Updated Tickets</h4>
                    @if (Model.RecentTickets == null)
                    {
                        <div class="text-muted h4 pt-2" style="min-height:100px">No Recently Updated Tickets</div>
                        <div class="align-bottom">
                            @Html.ActionLink("View All Tickets", "Index", "Tickets", new { @class = "btn btn-primary" })
                        </div>
                    }

                    @if (Model.RecentTickets != null)
                    {
                        <table class="table table-striped table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>Updated</th>
                                    <th>Ticket Title</th>
                                    <th>Developer</th>
                                    <th>Ticket Status</th>
                                    <th>Ticket Priority</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.RecentTickets)
                                {
                                    <tr>
                                        <td>@item.Updated</td>
                                        <td>@item.Title</td>
                                        <td>@item.Developer.FullName </td>
                                        <td>@item.Status.Name</td>
                                        <td>@item.Priority.Name</td>

                                    </tr>
                                }


                            </tbody>
                        </table>
                        <div class="align-bottom pt-3">
                            @Html.ActionLink("View All Tickets", "Index", "Tickets",null , new { @class = "btn btn-primary" })
                        </div>
                    }
                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->

        
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-4">Ticket Priorities</h4>
                    <div class="my-4 chartjs-chart">
                        <canvas id="ticket-priority-chart"></canvas>
                    </div>
                    <div class="row text-center mt-2 pt-3 py-2">
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketCritical</span>
                            </h3>
                            <p class="text-muted mb-0">Critical</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketHigh</span>
                            </h3>
                            <p class="text-muted mb-0"> High</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketLow</span>
                            </h3>
                            <p class="text-muted mb-0"> Low</p>
                        </div>
                        <div class="col-3">
                            <h3 class="font-weight-normal">
                                <span>@Model.TicketOnHold</span>
                            </h3>
                            <p class="text-muted mb-0"> On Hold</p>
                        </div>

                    </div>
                    <!-- end row-->
                </div>
            </div>
        </div>
    </div><!-- end row-->
</div> <!-- container -->

@section scripts {

    <script>
        var ctx1 = document.getElementById('ticket-status-chart').getContext('2d');
        var chart1 = new Chart(ctx1, {
            // The type of chart we want to create
            type: 'doughnut',

            // The data for our dataset
            data: {
                labels: ['Open', 'Assigned', 'Resolved', 'Reopened'],
                datasets: [{

                    data: [@Model.TicketsOpen, @Model.TicketsAssigned, @Model.TicketsResolved, @Model.TicketsReopened],
                    backgroundColor: [
                        '#ffbc00',
                        '#6c757d',
                        '#0acf97',
                        '#727cf5',
                    ],
                    borderWidth: "3",

                }]
            },

            // Configuration options go here
            options: {
                maintainAspectRatio: 1,
                cutoutPercentage: 80,
                legend: { display: !1 }
            }
        });


        var ctx2 = document.getElementById('ticket-types-chart').getContext('2d');
        var myBarChart = new Chart(ctx2, {
            type: 'horizontalBar',
            data: {
                labels: ['Software: ', 'Hardware: ', 'UI: ', 'Defect: ', 'Other: '],
                datasets: [{
                    data: [@Model.TicketSoftware, @Model.TicketHardware, @Model.TicketUi, @Model.TicketDefect, @Model.TicketOther],

                    backgroundColor: [
                        '#39afd1',
                        '#6c757d',
                        '#0acf97',
                        '#727cf5',
                        '#ffbc00',

                    ],

                }]
            },
            options: {
                responsive: 1,
                maintainAspectRation: 1,
                legend: { display: !1 },
                scales: {
                    yAxes: [
                        {

                            barPercentage: .5,
                            categoryPercentage: .7,
                            stacked: !1,
                            gridLines: { color: "rgba(0,0,0,0.01)" },
                            ticks: { fontSize: 16 }
                        },
                    ],
                    xAxes: [
                        {

                            gridLines: { display: !1, color: "rgba(0,0,0,0.05)" },
                            stacked: !1,
                            ticks: { stepSize: 2, fontSize: 16, beginAtZero: 1 },
                        },
                    ],
                }
            }
        });

        myBarChart.render();

        var ctx3 = document.getElementById('ticket-priority-chart').getContext('2d');
        var chart2 = new Chart(ctx3, {
            // The type of chart we want to create
            type: 'pie',

            // The data for our dataset
            data: {
                labels: ['Critical', 'High', 'Low', 'On Hold'],
                datasets: [{

                    data: [@Model.TicketCritical, @Model.TicketHigh, @Model.TicketLow, @Model.TicketOnHold],
                    backgroundColor: [
                        'rgba(250, 92, 124, .9)',
                        'rgba(255, 188, 0, .9)',
                        'rgba(10, 207, 151, 0.9)',
                        'rgba(114, 124, 245, 0.9)',
                    ],
                    borderWidth: "3",

                }]
            },

            // Configuration options go here
            options: {
                maintainAspectRatio: 1,
                legend: { display: !1 }
            }
        });

    </script>
}






