@model Falcon_Bug_Tracker.ViewModel.ProfileInfo
@using Microsoft.AspNet.Identity




<div class="content">
    <!-- Start Content-->
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <h4 class="page-title">Profile</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->


        <div class="row">
            <div class="col-lg-4">
                <!-- Personal-Information -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mt-0 mb-3">Profile Info</h4>
                        <hr />
                        <div class="text-left">
                            <p class="text-muted"><strong>Full Name :</strong> <span class="ml-2">@Model.FullName</span></p>

                            <p class="text-muted"><strong>Role :</strong><span class="ml-2">@Model.RoleName</span></p>

                            <p class="text-muted"><strong>Email :</strong> <span class="ml-2">@Model.Email</span></p>

                            <p class="text-muted"><strong>Avatar : <img src="@Model.AvatarPath" class="rounded-circle ml-3" style="width:50px; height:50px;" /></strong></p>

                            <div class="text-center mt-sm-0 mt-3 pt-2">
                                <a href="@Url.Action("EditProfile", "Manage")">
                                    <button type="button" class="btn btn-light">
                                        <i class="mdi mdi-account-edit mr-1"></i> Edit Profile
                                    </button>
                                </a>
                                <a href="@Url.Action("ChangePassword", "Manage")">
                                    <button type="button" class="btn btn-light">
                                        <i class="mdi mdi-account-settings mr-1"></i> Change Password
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Personal-Information -->
            </div> <!-- end col-->
    </div> <!-- container -->

</div> <!-- content -->
<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
<!-- END wrapper -->
<!-- bundle -->
<!-- third party js ends -->
@*<h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>*@
@*
    Phone Numbers can used as a second factor of verification in a two-factor authentication system.

     See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
        for details on setting up this ASP.NET application to support two-factor authentication using SMS.

     Uncomment the following block after you have set up two-factor authentication
*@
@*
    <dt>Phone Number:</dt>
    <dd>
        @(Model.PhoneNumber ?? "None")
        @if (Model.PhoneNumber != null)
        {
            <br />
            <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
            using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
            }
        }
        else
        {
            <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
        }
    </dd>
*@
@*<dt>Two-Factor Authentication:</dt>
    <dd>
        <p>
            There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication.
        </p>*@
@*@if (Model.TwoFactor)
    {
        using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Enabled
            <input type="submit" value="Disable" class="btn btn-link" />
            </text>
        }
    }
    else
    {
        using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <text>Disabled
            <input type="submit" value="Enable" class="btn btn-link" />
            </text>
        }
    }*@
@*</dd>
        </dl>
    </div>*@
