@model Falcon_Bug_Tracker.ViewModel.TicketDetailsVM
@using Microsoft.AspNet.Identity

<div class="container-fluid">
    <h4>Ticket Details</h4>
    <hr />

    <div class="row">
        <div class="col-xl-7 col-lg-6">
            <!-- project card -->
            <div class="card d-block">
                <div class="card-body">
                    <div class="dropdown card-widgets">
                        <div class="page-title-right">
                            <a href="@Url.Action("Edit", "Tickets", new { id = Model.Ticket.Id })">
                                <i class="uil uil-edit mr-1"></i>Edit
                            </a>
                        </div> <!-- end dropdown menu-->
                    </div>

                    <h3 class="mt-3">@Model.Ticket.Title</h3>

                    <div class="row">
                        <div class="col-2">
                            <!-- assignee -->
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Developer</p>
                            <div class="media">
                                <i class="uil uil-user-circle font-18 text-primary mr-1"></i>
                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.Developer
                                    </h5>
                                </div>
                            </div>
                            <!-- end assignee -->
                        </div> <!-- end col -->

                        <div class="col-2">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Project</p>
                            <div class="media">
                                <i class="uil uil-bag font-18 text-success mr-1"></i>
                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.ProjectName
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-2">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Project Manager</p>
                            <div class="media">
                                <i class="uil uil-user-circle font-18 text-primary mr-1"></i>
                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.ProjectManager
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-3">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Updated</p>
                            <div class="media">
                                <i class="uil uil-schedule font-18 text-success mr-1"></i>
                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.Ticket.Updated
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->
                        <div class="col-3">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Created</p>
                            <div class="media">
                                <i class="uil uil-calendar-alt font-18 text-primary mr-1"></i>
                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.Ticket.Created
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div> <!-- end row -->
                    <hr />
                    <h5 class="mt-3">Description:</h5>

                    <p class="mb-4">
                        @Model.Ticket.Description
                    </p>

                    <p class="text-muted mt-4 font-12">Submitted by: @Model.Submitter </p>
                    <hr />

                    <div class="row">
                        <div class="col-4">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Ticket Priority</p>
                            <div class="media">

                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.TicketPriority
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->

                        <div class="col-4">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Ticket Status</p>
                            <div class="media">

                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.TicketStatus
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->


                        <div class="col-4">
                            <p class="mt-2 mb-1 text-muted font-weight-bold font-12 text-uppercase">Ticket Type</p>
                            <div class="media">

                                <div class="media-body">
                                    <h5 class="mt-1 font-14">
                                        @Model.TicketType
                                    </h5>
                                </div>
                            </div>
                        </div> <!-- end col -->
                    </div>

                </div> <!-- end card-body-->

            </div> <!-- end card-->

            <div class="card">
                <div class="card-header">
                    <h4 class="my-1">Comments (@Model.Ticket.Comments.Count())</h4>
                </div>
                <div class="card-body">
                    @foreach (var comment in Model.Ticket.Comments)
                    {
                        <div class="media">
                            <img class="mr-2 rounded-circle" src="@comment.User.AvatarPath" alt="Generic placeholder image" height="32">
                            <div class="media-body">
                                <h5 class="mt-0">@comment.User.FullName <small class="text-muted float-right">@comment.Created</small></h5>
                                @if (comment.UserId == User.Identity.GetUserId())
                                {
                                    <h5 class="mt-0"><small class="text-muted float-right"><a href="@Url.Action("Edit", "TicketComments", new { id = comment.Id, created = comment.Created })"><i class="uil uil-edit mr-1"></i>Edit</a></small></h5>
                                }

                                @comment.Body

                            </div>

                        </div>
                        <br />
                    }


                    <div class="border rounded mt-4">
                        @using (Html.BeginForm("Create", "TicketComments", FormMethod.Post, new { @class = "comment-area-box" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.TextArea("Body", new { @class = "form-control border-0 resize-none", placeholder = "Your comment..." })
                            @Html.Hidden("TicketId", Model.Ticket.Id)
                            <div class="p-2 bg-light d-flex justify-content-between align-items-center">
                                <button type="submit" class="btn btn-sm btn-success"><i class="uil uil-message mr-1"></i>Submit</button>
                            </div>
                        }



                    </div> <!-- end .border-->

                </div> <!-- end card-body-->
            </div>
            <!-- end card-->

        </div> <!-- end col -->

        <div class="col-xl-5 col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Attachments</h5>
                    @using (Html.BeginForm("Create", "TicketAttachments", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    //<form action="/TicketAttachments/Create" method="post" class="dropzone dz-clickable" id="myAwesomeDropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("TicketId", Model.Ticket.Id)
                        <div class="form-group">

                            <div class="col-md-12">
                                <input name="newAttachment" type="file" class="form-control-file border" />
                                @if(TempData["Alert"] != null) { <p class="text-danger font-14 pt-1">@TempData["Alert"]</p>}
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success ml-2"><i class="uil uil-upload"></i> Upload</button>
                        </div>
                    }

                    <!-- Preview -->
                    <div class="dropzone-previews mt-3" id="file-previews"></div>

                    @foreach (var attachment in Model.ticketAttachments)
                    {
                        <div class="card my-1 shadow-none border">
                            <div class="p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar-sm">
                                            <span class="avatar-title rounded">
                                                @attachment.Extension.ToUpper()
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col pl-0">
                                        <a href="@Url.Action("Details", "TicketAttachments", new { id = attachment.Id })" class="text-muted font-weight-bold">@attachment.Description</a>
                                        <p class="mb-0"><small class="text-muted float-left">Uploaded by: @attachment.User.FullName</small></p>
                                    </div>
                                    <div class="col-auto">
                                        <!-- Button -->
                                        <a href="@Url.Content(attachment.FilePath)" class="btn btn-link btn-lg text-muted">
                                            <i class="dripicons-download"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if(User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    { @Html.ActionLink("Edit Attachments", "Index", "TicketAttachments", null, new { @class = "btn btn-light mt-2"} )}
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-3">Ticket History</h5>
                    <table id="basic-datatable" class="table dt-responsive">
                        <thead>
                            <tr>
                                <th class="all">Name</th>
                                <th class="all">Changed</th>
                                <th class="all">Date</th>
                                <th class="all">Old Value</th>
                                <th class="all">New Value</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var history in Model.TicketHistory)
                            {
                                <tr>
                                    <td>@history.User.FullName</td>
                                    <td>@history.Property</td>
                                    <td>@history.ChangedOn.ToString("MM/dd/yyyy hh:mm")</td>
                                    <td>@history.OldValue</td>
                                    <td>@history.NewValue</td>
                                </tr>
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

