@model Falcon_Bug_Tracker.ViewModel.ProfileInfo

@if (Request.IsAuthenticated)
{

    <li class="dropdown notification-list">
        <a class="nav-link dropdown-toggle nav-user arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false"
           aria-expanded="false">
            <span class="account-user-avatar">
                <img src="@Model.AvatarPath" alt="user-image" class="rounded-circle">
            </span>
            <span>
                <span class="account-user-name">@Model.FullName</span>
                <span class="account-position">@Model.RoleName</span>
            </span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
            <!-- item-->
            <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome !</h6>
            </div>

            <!-- item-->
            <a href="@Url.Action("Index", "Manage")" class="dropdown-item notify-item">
                <i class="mdi mdi-account-circle mr-1"></i>
                <span>My Profile</span>
            </a>

            <!-- item-->
            <a href="@Url.Action("EditProfile", "Manage")" class="dropdown-item notify-item">
                <i class="mdi mdi-account-edit mr-1"></i>
                <span>Edit Profile</span>
            </a>

            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "LogOut" }))
            {
                @Html.AntiForgeryToken()
                <!-- item-->
                <a href="javascript:document.getElementById('LogOut').submit()" class="dropdown-item notify-item">
                    <i class="mdi mdi-logout mr-1"></i>
                    <span>Log off</span>
                </a>
            }
        </div>

    </li>






    @*using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }*@
}

